[submodule "T80"]
	path = T80
	url = https://github.com/mist-devel/T80.git
[submodule "mist-modules"]
	path = mist-modules
	url = https://github.com/mist-devel/mist-modules.git
[submodule "ocm-pld-dev"]
	path = ocm-pld-dev
	url = https://github.com/gnogni/ocm-pld-dev.git
